<center><h1> İsmet Acar Doğan </h1></center>

<center><a href="http://guides.rubyonrails.org/"><img src="http://ip-saas-infopark23444378-cms.s3.amazonaws.com/public/4374236b7411b49e/b317635fe4abd51d9616c71861ea0611/rails-logo.jpg" alt="" /></a></center>  

<center>Ondokuz Mayıs Üniversiteis Bilgisayar Mühendisliği Bölümü</center>
<center><a href="https://twitter.com/smetAcarDoan">Twitter</a></center>
<center><a href="https://github.com/ismetacar">Github</a>


<center><%= link_to "İsmetacar's Blog", posts_path %></center>